@tailwind base;
@tailwind components;
@tailwind utilities;

.bgp{
    background: url('../public/mg.png');
    background-color: #F4F6FA;
}

.gry{
   background-color: #F4F6FA;
}

.blu{
    color: #405CD2;
}
.grn{
    color: #10AA64;
}